.MovieItem {
  list-style: none;
  background-color: white;
  display: flex;
  position: relative;

  width: 650px;
  height: 340px;
  margin: 50px 10px;
}

.MovieItem_Infor {
  margin-right: 10px;
}

.MovieItem_Img {
  position: relative;
  top: -50px;
  left: 20px;
  width: 200px;
  height: 310px;
  margin-right: 100px;
}

.MovieItem_Title {
  margin-bottom: 0;
}

.MovieItem_Year {
  margin-top: 0;
}

.MovieItem_Body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .MovieItem_Body {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 600px) {
  .MovieItem_Body {
    -webkit-line-clamp: 1;
  }
}
